<html>
<head>
    <!-- Vue + Vuetify -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

    <!-- Vue-Awsome-Swiper Library -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper@3.1.2/dist/vue-awesome-swiper.js"></script>
</head>
<body>
    <div id="manageFinancerApp">
        <v-app>
            <v-container>
                <v-layout>
                    <v-flex>
                        <current-info></current-info>
                    </v-flex>
                </v-layout>
                <v-layout mt-5>
                    <v-flex xs12 sm6>
                        <ppw-card></ppw-card>
                    </v-flex>
                </v-layout>
                <v-layout mr-2>
                    <v-spacer></v-spacer>
                    <v-menu offset-y>
                        <v-btn color="info" slot="activator">
                            Choose Funds
                        </v-btn>
                        <v-list>
                            <v-list-tile v-for="fund in fundFilters" :key="fund.title" @click="">
                                <v-list-title>{{fund.title}}</v-list-title>
                            </v-list-tile>
                        </v-list>
                    </v-menu>
                </v-layout>
                <v-layout >
                        <v-flex sm3>
                            <fund-card title="Current Fund" :selected="false" :current="true"></fund-card>
                        </v-flex>
                        <v-flex sm9 ml-3 >
                            <swiper :options="swiperOptions" v-if="availableFunds.length > 0">
                                <swiper-slide v-for="fund in availableFunds" :key="fund.title">
                                    <fund-card :title="fund.title" :selected="fund.selected" :current="fund.current"></fund-card>
                                </swiper-slide>
                                <!-- <div id="swiper-pagination" slot="pagination"></div> -->
                            </swiper>
                            <h2 class="grey--text text--lighten-2 mt-3" v-else>Please Choose 1 or More Funds</h2>
                        </v-flex>
                    </v-layout>
                    <v-layout justify-center>
                        <v-btn large>
                            Clone and Go
                        </v-btn>
                    </v-layout>
            </v-container>
        </v-app>
    </div>
    <!-- Components -->
    <script src="components/currentInfo.js"></script>
    <script src="components/fundCard.js"></script>
    <script src="components/pricePerWatt.js"></script>

    <!-- Main App Script -->
    <script src="app.js"></script>

    <!-- Custom Styles -->
    <link rel="stylesheet" href="styles.css">
</body>
</html>